[submodule "lib/graphics-api"]
	path = lib/graphics-api
	url = https://github.com/CalSol/graphics-api.git
[submodule "lib/calsol-fw-libs"]
	path = lib/calsol-fw-libs
	url = https://github.com/CalSol/calsol-fw-libs.git
